body 
{
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
    padding-left: 2em;
    max-width: 1100px;
    background: #fff;
    color: #333;
}

p 
{
    text-align: justify;
    line-height: 140%;
}

h1, h2, h3 
{
    color: #000;
}

h1 {
    font-size: 1.5em;
}

a:link 
{
    text-decoration:none; 
    color:#2200CC;
}

a:visited 
{
    text-decoration:none; 
    color:#2A5DB0;
}

a:hover 
{
    text-decoration:underline; 
    color:#2A5DB0;
}
